* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

input,
button,
textarea {
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

button {
  cursor: pointer;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

@font-face {
  font-family: "Gilroy";
  src: url(fonts/gilroy/Gilroy-Regular.ttf);
}
@font-face {
  font-family: "Space Grotesk";
  src: url(fonts/SpaceGrotesk/SpaceGrotesk-Regular.ttf);
}
@font-face {
  font-family: "Work Sans";
  src: url(fonts/worksans/WorkSans-Regular.otf);
}
@font-face {
  font-family: "Gilroy Italic";
  src: url(fonts/gilroy/Gilroy-RegularItalic.ttf);
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}
@media (max-width: 1000px) {
  .container {
    max-width: 700px;
  }
}
@media (max-width: 480px) {
  .container {
    max-width: 320px;
  }
}

/*............................................HEADER...................................................*/
.header {
  background-color: #272727;
  min-height: 110px;
}

.header-body {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px;
}
@media (max-width: 1000px) {
  .header-body {
    padding: 15px;
  }
}
@media (max-width: 480px) {
  .header-body {
    justify-content: space-between;
  }
}

.logo {
  margin-right: 152px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo .logo__img {
  width: 100%;
}
@media (max-width: 1000px) {
  .logo {
    margin-right: 80px;
  }
}
@media (max-width: 480px) {
  .logo {
    margin-right: 0;
  }
}

.navbar__select {
  width: 100%;
  margin-right: 50px;
  position: relative;
  cursor: pointer;
}
@media (max-width: 480px) {
  .navbar__select {
    display: none;
  }
}

.menu__list {
  position: absolute;
  display: none;
}

.select__buy {
  display: flex;
  gap: 3px;
  align-items: center;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #fcd54c;
  border-bottom: 1px solid #fcd54c;
}

.navbar__select:hover .menu__list {
  display: block;
}

.menu__list li {
  width: 245px;
  height: 36px;
  background-color: #272727;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 9px 0px 10px 19px;
}

.menu__list li:hover {
  background-color: #fcd54c;
}

.menu__list li:hover a {
  color: #000000;
}

.menu__list a {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

.navbar {
  display: flex;
}
@media (max-width: 1000px) {
  .navbar {
    display: none;
  }
}

.navBar__list {
  display: flex;
  gap: 50px;
}

.navBar__list a {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: white;
  transition: all 0.4s ease;
}

.navBar__list a:hover {
  color: #fcd54c;
}

.header-tools {
  margin-left: auto;
  display: flex;
  align-items: center;
}
@media (max-width: 480px) {
  .header-tools {
    display: none;
  }
}

.header__btn {
  width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  background-color: #fcd54c;
  color: #000000;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  margin-right: 120px;
  cursor: pointer;
  transition: all 0.4s ease;
}
.header__btn:hover {
  background-color: #272727;
  color: #fcd54c;
  border: 1px solid #fcd54c;
}
@media (max-width: 1000px) {
  .header__btn {
    font-size: 12px;
    margin-right: 30px;
    line-height: 14px;
  }
}

.header-language {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-right: 53px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #929292;
  transition: all 0.4s ease;
  cursor: pointer;
}
.header-language .language__en:hover,
.header-language .language__ru:hover {
  color: #fcd54c;
}
@media (max-width: 1000px) {
  .header-language {
    margin-right: 20px;
  }
}

.phone__link {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  transition: all 0.4s ease;
}
.phone__link:hover {
  color: #fcd54c;
}
@media (max-width: 1000px) {
  .phone__link {
    font-size: 14px;
    margin-right: 20px;
  }
}

.burger__icon {
  display: none;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1000px) {
  .burger__icon {
    display: flex;
  }
}

/*...............................................WELCOME..................................................*/
.welcome {
  background-color: #272727;
}

.welcome-body {
  width: 100%;
  background-image: url(../styles/img/main/main.png);
  background-size: cover;
  padding: 270px 0px 0px 270px;
}
@media (max-width: 1000px) {
  .welcome-body {
    padding: 40px 0px 0px 20px;
  }
}
@media (max-width: 482px) {
  .welcome-body {
    padding: 40px 0px 20px 20px;
  }
}

.welcome-title {
  background-image: url(../styles/img/main/Rectangle.png);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 44px 0px 51px 28px;
  max-width: 712px;
}
@media (max-width: 1000px) {
  .welcome-title {
    max-width: 421px;
  }
}

.welcome__subtitle {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #ffffff;
}

.welcome__title {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 100px;
  text-transform: capitalize;
  color: #ffffff;
}
@media (max-width: 1000px) {
  .welcome__title {
    font-size: 50px;
    line-height: 64px;
  }
}

.welcome__text {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
}

.consultation {
  display: flex;
}

.welcome-slider {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 50px;
  margin-top: 160px;
}
@media (max-width: 1000px) {
  .welcome-slider {
    gap: 20px;
  }
}

.slider-arrows {
  display: flex;
  align-items: center;
  gap: 20px;
}

.slider-arrows a {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.2em;
  color: #ffffff;
  transition: all 0.4s ease;
}

.slider-arrows a:hover {
  color: #fcd54c;
}

.arrow__border {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-items {
  display: flex;
  align-items: center;
  gap: 50px;
  background-color: #272727;
  padding: 60px 35px 40px 35px;
}
@media (max-width: 1000px) {
  .slider-items {
    gap: 20px;
    padding: 30px 20px 20px 20px;
  }
}
@media (max-width: 480px) {
  .slider-items {
    display: none;
  }
}

.items-mobile {
  display: none;
}
@media (max-width: 480px) {
  .items-mobile {
    display: flex;
  }
}

.slider__item {
  display: flex;
  gap: 35px;
  align-items: center;
}
@media (max-width: 1000px) {
  .slider__item {
    gap: 10px;
  }
}
@media (max-width: 480px) {
  .slider__item {
    flex-direction: column;
  }
}

.item__number {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 24px;
  color: #ffffff;
}
@media (max-width: 1000px) {
  .item__number {
    font-size: 40px;
  }
}

.item__info {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
}
@media (max-width: 1000px) {
  .item__info {
    font-size: 12px;
    line-height: 14px;
  }
}
@media (max-width: 480px) {
  .item__info {
    font-size: 10px;
    line-height: 12px;
  }
}

/*........................................PROJECTS.......................................................*/
.projects {
  background-color: #272727;
  padding: 105px 0px 0px 0px;
}

.projects-title {
  display: flex;
  gap: 250px;
  padding-left: 250px;
  align-items: center;
  margin-bottom: 75px;
}
@media (max-width: 1000px) {
  .projects-title {
    padding-left: 0px;
    gap: 195px;
  }
}
@media (max-width: 480px) {
  .projects-title {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
  }
}

.projects__list {
  display: flex;
  gap: 35px;
}
.projects__list a:hover {
  color: #fcd54c;
}
@media (max-width: 1000px) {
  .projects__list {
    gap: 30px;
  }
}

.projects__list a {
  transition: all 0.4s ease;
}

.projects__title {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 69px;
  color: #ffffff;
  opacity: 0.4;
}
@media (max-width: 1000px) {
  .projects__title {
    font-size: 30px;
    line-height: 37px;
    opacity: 1;
  }
}

.projects__list a {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}
@media (max-width: 1000px) {
  .projects__list a {
    font-size: 12px;
    line-height: 14px;
  }
}

.project-expertise {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px 0px 0px 0px;
}
@media (max-width: 1000px) {
  .project-expertise {
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.expertise__body {
  max-width: 730px;
}
@media (max-width: 1000px) {
  .expertise__body {
    width: 100%;
  }
}

.expertise__link {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  color: #fcd54c;
  margin-bottom: 40px;
}
@media (max-width: 1000px) {
  .expertise__link {
    font-size: 16px;
    line-height: 19px;
  }
}

.expertise__title {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 69px;
  color: #e8e8e8;
  margin-bottom: 33px;
}
@media (max-width: 1000px) {
  .expertise__title {
    max-width: 450px;
    font-size: 30px;
    line-height: 37px;
  }
}

.expertise__text {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #e8e8e8;
}
@media (max-width: 1000px) {
  .expertise__text {
    font-size: 14px;
    line-height: 160%;
  }
}

/*........................................SLIDER...........................................................*/
.projects__slide {
  position: relative;
  width: 320px;
  height: 460px;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.4s;
}
@media (max-width: 1000px) {
  .projects__slide {
    width: 165px;
    height: 220px;
  }
}

.projects-slider-wrapper {
  padding-bottom: 50px;
}

.slide_1 {
  background-image: url(img/slider_1/1.png);
}

.slide_2 {
  background-image: url(img/slider_1/2.png);
}

.slide_3 {
  background-image: url(img/slider_1/3.png);
}

.slide_4 {
  background-image: url(img/slider_1/4.png);
}

.swiper-slide:hover .slide-info {
  display: flex;
}

.slide-info {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fcd54c;
  padding: 45px 30px 45px 30px;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 1000px) {
  .slide-info {
    padding: 20px 15px 20px 15px;
  }
}

.info__title {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 45px;
  color: #272727;
}
@media (max-width: 1000px) {
  .info__title {
    font-size: 18px;
    line-height: 22px;
  }
}

.info__text {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #272727;
}
@media (max-width: 1000px) {
  .info__text {
    font-size: 12px;
    line-height: 14px;
  }
}

.info__link {
  display: flex;
  gap: 10px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #272727;
}
@media (max-width: 1000px) {
  .info__link {
    font-size: 12px;
    line-height: 14px;
  }
}

@media (max-width: 1000px) {
  .project__img {
    width: 50%;
    height: 50;
  }
}

/*...........................................VIDEO....................................................*/
.video {
  background-color: #272727;
  padding: 90px 0px 90px 0px;
}
@media (max-width: 1000px) {
  .video {
    padding: 50px 0px 50px 0px;
  }
}
@media (max-width: 480px) {
  .video {
    padding: 20px 0px 20px 0px;
  }
}

.video-body {
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 */
  position: relative;
}
@media (max-width: 480px) {
  .video-body {
    padding-top: 52.25%; /* 16:9 */
  }
}

.video-body iframe {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  width: 100%;
  height: 100%;
}

/*.............................................ACHIEVE.................................................*/
.achieve {
  background-color: #272727;
  padding: 120px 0px 115px 0px;
}
@media (max-width: 480px) {
  .achieve {
    padding: 50px 0px 40px 0px;
  }
}

.achieve-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.achieve__quote {
  max-width: 1100px;
  padding: 70px 90px 70px 90px;
  border: 1px solid #fcd54c;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 160%;
  color: #ffffff;
  margin-bottom: 65px;
}
@media (max-width: 1000px) {
  .achieve__quote {
    font-size: 18px;
    line-height: 160%;
    padding: 20px 15px;
  }
}

.achieve__img {
  width: 100%;
}

.achieve-description {
  max-width: 1100px;
  display: flex;
  gap: 20px;
}
@media (max-width: 1000px) {
  .achieve-description {
    width: 100%;
    justify-content: center;
  }
}
@media (max-width: 480px) {
  .achieve-description {
    flex-direction: column;
  }
}

.description__img {
  width: 100%;
  margin-bottom: 70px;
}
@media (max-width: 480px) {
  .description__img {
    margin-bottom: 20px;
  }
}

.description__text {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #e8e8e8;
}
@media (max-width: 1000px) {
  .description__text {
    font-size: 14px;
    line-height: 160%;
  }
}

@media (max-width: 1000px) {
  .description__left,
.description__right {
    width: 45%;
  }
}
@media (max-width: 480px) {
  .description__left,
.description__right {
    width: 100%;
  }
}

/*............................................CONTACT......................................................*/
.contact {
  background-image: url(img/main/contact.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 85px 0px 85px 0px;
}

.contact-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact__text {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  text-align: center;
  color: #272727;
}
@media (max-width: 480px) {
  .contact__text {
    font-size: 12px;
    line-height: 14px;
  }
}

.contact__title {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 120px;
  line-height: 69px;
  text-align: center;
  color: #272727;
  margin-bottom: 55px;
}
@media (max-width: 1000px) {
  .contact__title {
    font-size: 70px;
    line-height: 87px;
  }
}
@media (max-width: 480px) {
  .contact__title {
    font-size: 50px;
    line-height: 62px;
    margin-bottom: 20px;
  }
}

.contact-form {
  display: flex;
  align-items: center;
}

.form__input {
  width: 472px;
  height: 61px;
  background-color: #ffffff;
  padding: 10px 20px 10px 20px;
}
@media (max-width: 480px) {
  .form__input {
    width: 180px;
    height: 41px;
  }
}

.form__btn {
  width: 165px;
  height: 61px;
  background: #272727;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  transition: all 0.4s ease;
}
.form__btn:hover {
  background-color: transparent;
  border: 1px solid #272727;
  color: #272727;
}
@media (max-width: 480px) {
  .form__btn {
    width: 106px;
    height: 41px;
  }
}

/*...............................................ARTICLES.........................................................*/
.articles {
  background-color: #272727;
  padding: 140px 0px 30px 0px;
}
@media (max-width: 480px) {
  .articles {
    padding: 50px 0px 30px 0px;
  }
}

.articles-container {
  width: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
@media (max-width: 1000px) {
  .articles-container {
    width: 700px;
  }
}
@media (max-width: 480px) {
  .articles-container {
    width: 320px;
  }
}

.articles-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.articles-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.articles__link {
  display: flex;
  gap: 20px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  color: #929292;
  transition: all 0.4s ease;
}
.articles__link:hover {
  color: #fcd54c;
}
@media (max-width: 1000px) {
  .articles__link {
    font-size: 12px;
    line-height: 15px;
  }
}

.articles-images {
  margin-top: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 480px) {
  .articles-images {
    flex-direction: column;
    gap: 15px;
  }
}

.article__image {
  width: 350px;
  height: 350px;
  padding: 35px;
}
@media (max-width: 1000px) {
  .article__image {
    width: 220px;
    height: 220px;
    padding: 10px;
  }
}
@media (max-width: 480px) {
  .article__image {
    width: 300px;
    height: 300px;
    padding: 20px;
  }
}

.article__image:hover .article-info {
  display: flex;
}

.article__image:hover {
  background: #272727;
  border: 1px solid #fcd54c;
}

.image__first {
  background: url(../styles/img/main/article1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.image__second {
  background: url(../styles/img/main/article2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.image__third {
  background: url(../styles/img/main/article3.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.article-info {
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: space-between;
}

.image__date {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  margin-bottom: 15px;
}
@media (max-width: 1000px) {
  .image__date {
    font-size: 12px;
    line-height: 14px;
  }
}

.image__title {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 35px;
  color: #ffffff;
  margin-bottom: 30px;
}
@media (max-width: 1000px) {
  .image__title {
    font-size: 18px;
    line-height: 22px;
  }
}

.image__text {
  height: 120px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #929292;
  margin-bottom: 30px;
}
@media (max-width: 1000px) {
  .image__text {
    font-size: 12px;
    line-height: 14px;
  }
}

.image__link {
  display: flex;
  gap: 15px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #fcd54c;
}
@media (max-width: 1000px) {
  .image__link {
    font-size: 12px;
    line-height: 0px;
  }
}

/*...................................FEEDBACK-SLIDER...........................................................*/
.feedback {
  overflow: hidden;
  background-color: #272727;
  padding: 200px 0px 80px 0px;
}
@media (max-width: 1000px) {
  .feedback {
    padding: 120px 0px 50px 0px;
  }
}
@media (max-width: 480px) {
  .feedback {
    padding: 100px 0px 30px 0px;
  }
}

.feedback-slider {
  overflow: visible;
  max-width: 1100px;
}
@media (max-width: 1000px) {
  .feedback-slider {
    max-width: 700px;
  }
}
@media (max-width: 480px) {
  .feedback-slider {
    max-width: 320px;
  }
}

.feedback-slide {
  width: 420px;
  height: 312px;
  border: 1px solid #fcd54c;
  background: transparent;
  padding: 30px 45px 20px 30px;
  opacity: 0.5;
  transform: scale(0.8);
}
@media (max-width: 1000px) {
  .feedback-slide {
    width: 330px;
    height: 246px;
  }
}
@media (max-width: 480px) {
  .feedback-slide {
    max-width: 320px;
  }
}

.feedback-slide--visible {
  opacity: 1;
}

.feedback-slider-wrapper {
  padding-bottom: 50px;
}

.feedback-slide__top {
  display: flex;
}

.img__img {
  border-radius: 50%;
}

.feedback__name {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #ffffff;
}

.feedback__description {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  margin: 20px 0px 34px 0px;
}
@media (max-width: 1000px) {
  .feedback__description {
    font-size: 12px;
    line-height: 14px;
    margin: 8px 0px 8px 0px;
  }
}

.feedback__text {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #929292;
}
@media (max-width: 1000px) {
  .feedback__text {
    font-size: 14px;
    line-height: 16px;
  }
}

.founder__image {
  transform: translateY(-80%);
  position: absolute;
}

.comma__image {
  margin-left: auto;
}

.slider__slide {
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  background-color: #fcd54c;
}

/*...............................................ACCORDEON.....................................................*/
.faq {
  background-color: #272727;
  padding: 50px 0px 122px 0px;
}
@media (max-width: 1000px) {
  .faq {
    padding: 80px 15px 90px 15px;
  }
}

.faq-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title__title {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 60px;
  color: #ffffff;
  justify-content: flex-start;
}
@media (max-width: 1000px) {
  .title__title {
    font-size: 30px;
    line-height: 37px;
  }
}

.accardeon {
  padding-top: 60px;
  padding-left: 2%;
}
@media (max-width: 1000px) {
  .accardeon {
    width: 100%;
    padding-left: 0;
  }
}

.accordeon-item {
  width: 825px;
  padding: 20px;
  border-top: 1px solid #929292;
  border-bottom: 1px solid #929292;
}
@media (max-width: 1000px) {
  .accordeon-item {
    width: 100%;
    padding: 10px;
  }
}

.accordeon-title {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.item__title {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #ffffff;
}
@media (max-width: 1000px) {
  .item__title {
    font-size: 16px;
    line-height: 130%;
  }
}
@media (max-width: 480px) {
  .item__title {
    max-width: 260px;
    font-size: 12px;
    line-height: 130%;
  }
}

.item__image {
  position: absolute;
  right: 0;
}

.item__text {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #e8e8e8;
  padding: 35px 35px 35px 35px;
  display: none;
}
@media (max-width: 480px) {
  .item__text {
    padding: 10px;
  }
}

.show {
  display: block;
}

/*..............................................FOOTER.....................................................*/
footer {
  background-color: #272727;
}

.footer-body {
  display: flex;
  flex-direction: column;
}

.footer-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: 70px 0px 95px 0px;
}

.footer-logo {
  margin-bottom: 50px;
}
@media (max-width: 1000px) {
  .footer-logo {
    margin-bottom: 20px;
  }
}
@media (max-width: 480px) {
  .footer-logo {
    margin-bottom: 10px;
  }
}

.footer-info {
  display: flex;
  justify-content: space-between;
  gap: 70px;
}
@media (max-width: 1000px) {
  .footer-info {
    display: none;
  }
}

.footer-info-mobile {
  width: 100%;
  display: none;
  flex-direction: column;
}
@media (max-width: 1000px) {
  .footer-info-mobile {
    display: flex;
  }
}

.column__list li {
  margin-bottom: 20px;
}

.column__title {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #e8e8e8;
  margin-bottom: 40px;
}
@media (max-width: 1000px) {
  .column__title {
    margin-bottom: 20px;
  }
}

.column__text {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: #e8e8e8;
}

.last-column__text {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 120%;
  color: #e8e8e8;
  margin-bottom: 25px;
}

.last-column {
  display: flex;
  flex-direction: column;
}

.footer__btn {
  margin-top: 50px;
}
@media (max-width: 480px) {
  .footer__btn {
    margin-top: 10px;
  }
}

.footer-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 30px 0px 30px 0px;
}
@media (max-width: 480px) {
  .footer-bottom {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
}

.bottom-right {
  display: flex;
  gap: 25px;
  align-items: center;
}
@media (max-width: 480px) {
  .bottom-right {
    order: 1;
  }
}

@media (max-width: 480px) {
  .bottom-left {
    order: 2;
  }
}

.footer__text {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 160%;
  color: #e8e8e8;
}

.footer-accardeon {
  margin-bottom: 15px;
}

.footer-column {
  padding-left: 10px;
}

.footer-contacts {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 480px) {
  .footer-contacts {
    flex-direction: column;
  }
}

.column__right {
  display: flex;
  align-items: flex-end;
}
@media (max-width: 480px) {
  .column__right {
    justify-content: center;
    align-items: center;
  }
}

/*................................................BURGER.......................................................*/
.burger {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  background-color: #272727;
  display: none;
}

.burger-body {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.burger-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 20px 30px 20px;
}

.burger__list {
  display: flex;
  flex-direction: column;
}

.burger__list a {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  text-transform: uppercase;
  color: #ffffff;
}
@media (max-width: 480px) {
  .burger__list a {
    font-size: 36px;
    line-height: 44px;
  }
}

.burger__select {
  display: flex;
  align-items: center;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  text-transform: uppercase;
  margin-bottom: 30px;
  border: none;
  color: #e8e8e8;
  cursor: pointer;
}
@media (max-width: 480px) {
  .burger__select {
    font-size: 36px;
    line-height: 44px;
  }
}

.burger-menu__list a {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

.burger-menu__list li {
  width: 245px;
  height: 36px;
  background-color: #272727;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 9px 0px 10px 19px;
}

.burger-select-menu {
  display: none;
}

.active__select {
  display: flex;
}

.burger-menu__list {
  margin-bottom: 15px;
}

.yellow {
  color: #fcd54c;
}/*# sourceMappingURL=main.css.map */